<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.harlan.dao.ItemRecordsMapper">
<select id="queryRuKu" parameterType="java.lang.Integer" resultType="cn.harlan.entity.ItemRecords">
    select * from ItemRecords where type = #{0}
</select>

    <select id="queryMap" resultType="cn.harlan.entity.ItemMap">
        select id,itemname from Items
    </select>

    <select id="queryPrice"  resultType="java.lang.Integer" parameterType="java.lang.Integer">
       SELECT itemprice from Items where id = #{0}
    </select>

    <insert id="putinadd" useGeneratedKeys="true" keyProperty="id" parameterType="cn.harlan.entity.ItemRecords">
        insert into ItemRecords(item_id,type,whobuy,whosell,number,allprice,phone,time)
        values(#{item_id},#{type},#{whobuy},#{whosell},#{number},#{allprice},#{phone},#{time})
    </insert>

    <update id="kucunadd" parameterType="cn.harlan.entity.ItemRecords">
      UPDATE Items set number = number + #{number} where id = #{item_id}
    </update>

    <update id="chukuadd">
        UPDATE Items set number = number - #{number} where id = #{item_id}
    </update>

    <select id="checknumber" resultType="java.lang.Integer" parameterType="java.lang.Integer">
select number from Items where id = #{0}
    </select>

    <select id="queryAll" resultType="cn.harlan.entity.ItemRecords">
        select * from ItemRecords
    </select>
</mapper>